@charset "UTF-8";
/*resert*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-principal {
  background-color: #F4EDE5;
  padding: 3%;
}
.card-principal .card-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: 0;
  gap: 3%;
  align-items: center;
}
.card-principal .card-1 img {
  padding: 2%;
  width: 100%;
  height: auto;
}
.card-principal .card-text {
  padding: 2%;
}
.card-principal .card-text-center {
  padding: 2%;
  text-align: center;
}

.card-secundaria {
  background-color: #999999;
  padding: 3%;
}
.card-secundaria .card-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: 0;
  gap: 3%;
  align-items: center;
}
.card-secundaria .card-1 img {
  padding: 2%;
}
.card-secundaria .card-text {
  padding: 2%;
}
.card-secundaria .card-text-center {
  padding: 2%;
  text-align: center;
}

.card-principal-noaj {
  background-color: #F4EDE5;
  padding: 3%;
}
.card-principal-noaj .card-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: 0;
  gap: 3%;
  align-items: center;
}
.card-principal-noaj .card-1 img {
  padding: 2%;
}
.card-principal-noaj .card-1 .card-text {
  padding: 2%;
}
.card-principal-noaj .card-1 .card-text-center {
  padding: 2%;
  text-align: center;
}

form {
  max-width: 50%;
  background-color: #F4EDE5;
  padding: 3%;
}
@media screen and (max-width: 600px) {
  form {
    max-width: 70%;
    margin: 5%;
  }
}

fieldset {
  margin-bottom: 2%;
}

.fieldset-camp {
  margin-bottom: 2%;
}

.fieldset-botton {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 2%;
  font-weight: bold;
  color: #263238;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  width: 100%;
  padding: 2%;
  border: 1px solid #F4EDE5;
  border-radius: 2%;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input[type=submit],
input[type=reset] {
  background-color: #F4BECD;
  color: #FEFBF6;
  padding: 2%;
  border: none;
  border-radius: 3%;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  background-color: #C6C6C6;
  border-color: #999999;
  box-shadow: 0 0 5px rgba(136, 136, 136, 0.5);
  transition: background-color 0.3s ease;
}

input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #263238;
}

input[type=reset] {
  background-color: #C3ACEA;
}

/*header */
header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #C3ACEA;
  font-family: "Raleway", serif;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  line-height: 4rem;
  color: #FFFFFF;
}
header img {
  width: 70%;
}
@media screen and (max-width: 600px) {
  header {
    line-height: 1rem;
  }
}

/* hover para todos los link*/
a:hover img {
  box-shadow: 0 0 10px 5px #FFFFFF;
  transition: box-shadow 0.3s ease;
}

.header-index {
  background-image: url("../img/fot/headerindex.png");
}

.header-pages1 {
  background-image: url("../img/fot/headerimgyoga.png");
}

.header-pages2 {
  background-image: url("../img/fot/headerimgterapias.png");
}

.header-pages3 {
  background-image: url("../img/fot/headerimgturnos.png");
}

.header-pages4 {
  background-image: url("../img/fot/headerimgcontacto.png");
}

/*main*/
main {
  background-color: #FEFBF6;
  color: #263238;
  font-family: "Raleway", serif;
  text-align: justify;
  font-size: inherit;
  font-weight: 400;
  line-height: 2rem;
  padding: 2%;
}
main h3 h2 h1 {
  font-size: 2rem;
}
main h4 {
  font-size: 1.5rem;
}
main p {
  font-size: 1rem;
}
@media screen and (max-width: 800px) {
  main {
    padding: 1%;
  }
}

.seccion-title {
  display: inline-block;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  padding-right: 130px; /* Espacio para la línea */
}

.seccion-title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%; /* Centrando verticalmente la línea */
  transform: translateY(-50%); /* Ajustar para centrar la línea */
  width: 120px;
  height: 2px;
  background-color: #263238;
}

.card-principal {
  background-color: #F4EDE5;
  padding: 3%;
}
.card-principal .card-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: 0;
  gap: 3%;
  align-items: center;
}
.card-principal .card-1 img {
  padding: 2%;
  width: 100%;
  height: auto;
}
.card-principal .card-text {
  padding: 2%;
}
.card-principal .card-text-center {
  padding: 2%;
  text-align: center;
}

.card-secundaria {
  background-color: #999999;
  padding: 3%;
}
.card-secundaria .card-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: 0;
  gap: 3%;
  align-items: center;
}
.card-secundaria .card-1 img {
  padding: 2%;
}
.card-secundaria .card-text {
  padding: 2%;
}
.card-secundaria .card-text-center {
  padding: 2%;
  text-align: center;
}

.card-principal-noaj {
  background-color: #F4EDE5;
  padding: 3%;
}
.card-principal-noaj .card-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: 0;
  gap: 3%;
  align-items: center;
}
.card-principal-noaj .card-1 img {
  padding: 2%;
}
.card-principal-noaj .card-1 .card-text {
  padding: 2%;
}
.card-principal-noaj .card-1 .card-text-center {
  padding: 2%;
  text-align: center;
}

/* estilo de index*/
/* contenido ppal */
.acerca-de {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: 0;
  gap: 10%;
  color: #999999;
  font-family: "Raleway", serif;
  text-align: justify;
  font-size: inherit;
  font-weight: 400;
  line-height: 0;
}
.acerca-de .text-box {
  padding: 2%;
  line-height: 2rem;
  width: 55%;
}
.acerca-de .text-box h3 {
  font-size: 3rem;
  text-align: center;
  padding: 1%;
}
.acerca-de .text-box h3 p {
  font-size: 1.5rem;
}
@media screen and (max-width: 600px) {
  .acerca-de .text-box {
    display: none;
  }
}

.text-box {
  padding: 2%;
  line-height: 2rem;
  width: 55%;
}
.text-box h3 {
  font-size: 3rem;
  text-align: center;
  padding: 1%;
}
.text-box p {
  font-size: 1.5rem;
}

/* pq elegirnos*/
.card-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;
  margin-bottom: 3%;
}
@media screen and (max-width: 600px) {
  .card-area {
    grid-template-columns: 1fr;
  }
}

form {
  max-width: 50%;
  background-color: #F4EDE5;
  padding: 3%;
}
@media screen and (max-width: 600px) {
  form {
    max-width: 70%;
    margin: 5%;
  }
}

fieldset {
  margin-bottom: 2%;
}

.fieldset-camp {
  margin-bottom: 2%;
}

.fieldset-botton {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 2%;
  font-weight: bold;
  color: #263238;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  width: 100%;
  padding: 2%;
  border: 1px solid #F4EDE5;
  border-radius: 2%;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input[type=submit],
input[type=reset] {
  background-color: #F4BECD;
  color: #FEFBF6;
  padding: 2%;
  border: none;
  border-radius: 3%;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  background-color: #C6C6C6;
  border-color: #999999;
  box-shadow: 0 0 5px rgba(136, 136, 136, 0.5);
  transition: background-color 0.3s ease;
}

input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #263238;
}

input[type=reset] {
  background-color: #C3ACEA;
}

.yoga {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;
  margin-bottom: 3%;
}
@media screen and (max-width: 600px) {
  .yoga {
    grid-template-columns: 1fr;
  }
}

/* nuestros profes*/
.profesores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;
  margin-bottom: 3%;
}
@media screen and (max-width: 600px) {
  .profesores {
    grid-template-columns: 1fr;
  }
}
.profesores img {
  width: 60%;
}

/*TERAPIAS*/
.texto-terapias {
  text-align: justify;
  margin: 3% 5%;
}
.texto-terapias ul li {
  list-style: url("../img/dibujos/florLILA.png");
}

.terapias-dos {
  display: flex;
  gap: 10rem;
  text-align: justify;
  line-height: 2rem;
}
@media screen and (max-width: 600px) {
  .terapias-dos {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/fot/imagenterapias.png");
    background-position: center;
  }
}
.terapias-dos img {
  width: 40%;
  height: 30%;
}
@media screen and (max-width: 600px) {
  .terapias-dos img {
    display: none;
  }
}
.terapias-dos p {
  margin-top: 8%;
}
@media screen and (max-width: 600px) {
  .terapias-dos p {
    color: #FFFFFF;
    text-align: center;
  }
}

/*estilo de calendar*/
.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0;
  margin-bottom: 2%;
}
.calendar img {
  width: 50%;
  height: 50%;
}
@media screen and (max-width: 600px) {
  .calendar img {
    display: none;
  }
}

.iframe-container {
  background-color: #C3ACEA;
  padding: 3%;
  width: 80%;
}
@media screen and (max-width: 600px) {
  .iframe-container {
    width: 100%;
  }
}
.iframe-container iframe {
  border: 1% solid #999999;
  border-radius: 15%;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .iframe-container iframe {
    width: 100%;
  }
}

form {
  max-width: 50%;
  background-color: #F4EDE5;
  padding: 3%;
}
@media screen and (max-width: 600px) {
  form {
    max-width: 70%;
    margin: 5%;
  }
}

fieldset {
  margin-bottom: 2%;
}

.fieldset-camp {
  margin-bottom: 2%;
}

.fieldset-botton {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 2%;
  font-weight: bold;
  color: #263238;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  width: 100%;
  padding: 2%;
  border: 1px solid #F4EDE5;
  border-radius: 2%;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input[type=submit],
input[type=reset] {
  background-color: #F4BECD;
  color: #FEFBF6;
  padding: 2%;
  border: none;
  border-radius: 3%;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  background-color: #C6C6C6;
  border-color: #999999;
  box-shadow: 0 0 5px rgba(136, 136, 136, 0.5);
  transition: background-color 0.3s ease;
}

input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #263238;
}

input[type=reset] {
  background-color: #C3ACEA;
}

.card-principal {
  background-color: #F4EDE5;
  padding: 3%;
}
.card-principal .card-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: 0;
  gap: 3%;
  align-items: center;
}
.card-principal .card-1 img {
  padding: 2%;
  width: 100%;
  height: auto;
}
.card-principal .card-text {
  padding: 2%;
}
.card-principal .card-text-center {
  padding: 2%;
  text-align: center;
}

.card-secundaria {
  background-color: #999999;
  padding: 3%;
}
.card-secundaria .card-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: 0;
  gap: 3%;
  align-items: center;
}
.card-secundaria .card-1 img {
  padding: 2%;
}
.card-secundaria .card-text {
  padding: 2%;
}
.card-secundaria .card-text-center {
  padding: 2%;
  text-align: center;
}

.card-principal-noaj {
  background-color: #F4EDE5;
  padding: 3%;
}
.card-principal-noaj .card-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: 0;
  gap: 3%;
  align-items: center;
}
.card-principal-noaj .card-1 img {
  padding: 2%;
}
.card-principal-noaj .card-1 .card-text {
  padding: 2%;
}
.card-principal-noaj .card-1 .card-text-center {
  padding: 2%;
  text-align: center;
}

/* contactos*/
/*tj contactos*/
.contact-box-ppal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-arround;
  gap: 2%;
  margin-bottom: 3%;
}
.contact-box-ppal h1 {
  font-size: 1.5rem;
}
.contact-box-ppal h3 {
  font-size: 1rem;
}
.contact-box-ppal form {
  margin-left: 25%;
}
@media screen and (max-width: 600px) {
  .contact-box-ppal form {
    margin-left: 10%;
  }
}

/* contactos  cajas direccion*/
.contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;
  margin-bottom: 3%;
}
@media screen and (max-width: 600px) {
  .contact {
    grid-template-columns: 1fr;
  }
}

.contact-iframe iframe {
  width: 100%;
  height: 50%;
}

/* estilo de footer*/
footer {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5%;
  background-color: #C3ACEA;
  padding: 3%;
}
footer img {
  width: 10%;
}
@media screen and (max-width: 800px) {
  footer img {
    width: 25%;
  }
}

.footer-address {
  padding-top: 2%;
}
@media screen and (max-width: 800px) {
  .footer-address {
    display: none;
  }
}

.footer-social {
  padding: 2%;
}
.footer-social h5 {
  font-size: 80%;
  margin-top: 8%;
}
.footer-social img {
  width: 15%;
  margin: 5%;
}
@media screen and (max-width: 800px) {
  .footer-social img img {
    width: 20%;
    margin: 5%;
  }
}

/*# sourceMappingURL=main.css.map */
