
@import './Variables';
@import './mixin';


/*estilo de calendar*/

.calendar{ 
    @include flex (flex, row, nowrap, space-between,0);
    margin-bottom: 2%;
    img { width: 50%;
        height: 50%;
    @include movil {  display: none;}}}

.iframe-container{ 
    @include box-style ($color-marca1);
    width: 80%;
    @include movil { width: 100%;};
    iframe {
        border: 1% solid $color-gris;
        border-radius: 15%;
        width: 100%;
    @include movil {width:100%}}
    }
