@import './Variables';
@import './mixin';
@import './form';
@import './card';



 
/* contactos*/

/*tj contactos*/

.contact-box-ppal{ 
    @include flex (flex, column, wrap, space-arround , 2%);
    margin-bottom: 3%;
    form{ margin-left: 25%;
    @include movil{ margin-left: 10%;}}
}


/* contactos  cajas direccion*/
.contact { 
    display: grid;
    grid-template-columns: repeat(3 ,1fr) ;
    gap: 1%;
    margin-bottom: 3%;
    @include movil { grid-template-columns: 1fr};
}

.contact-iframe iframe{width: 100%;}
