@import './Variables';



@mixin Bg-img-format {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



@mixin texto2 ($aling, $size, $weight, $line )
            {font-family: $font-family;
               text-align: $aling;
             font-size: $size;
            font-weight: $weight;
            line-height: $line;}
            

 @mixin box-style($background-color) {
 background-color: $background-color;
    padding: 3%;
}


@mixin flex ( $flex, $flow, $wrap, $just, $gap ) {
    display: $flex;
    flex-direction: $flow ;
    flex-wrap: $wrap;
    justify-content: $just;
    gap: $gap;
}


@mixin movil () 
{@media screen and (max-width:600px){
    @content;
}}

@mixin tablet () 
{@media screen and (max-width:800px){
    @content;
}}
@mixin tablet2 () 
{@media screen and (min-width:800px){
    @content;
}}