
$font-family:"Raleway", serif;

$Color-back:  #FEFBF6;
$color-backosc:#263238;
$color-form: #F4EDE5;

/// neutros
$color-gris :  #999999;
$color-grisclaro:#C6C6C6;
$Color-negro: #263238;
$color-Blanco: #FFFFFF;

///color marca
$color-marca1: #C3ACEA;
$sombra-marca1:#716296;
$color-marca2: #F4BECD;

