@import './Variables';
@import './mixin';

@import './card';



.yoga {
    display: grid;
    grid-template-columns: repeat(3 ,1fr) ;
    gap: 1%;
    margin-bottom: 3%;
    @include movil { grid-template-columns: 1fr};
 } 

   

    /* nuestros profes*/
    
    .profesores {
        display: grid;
        grid-template-columns: repeat(3 ,1fr) ;
        gap: 1%;
        margin-bottom: 3%;
        @include movil { grid-template-columns: 1fr}
        img{ width: 60%;}
        }
               
    

/*TERAPIAS*/

.texto-terapias {
    text-align: justify;
    margin: 3% 5%;
    ul li { list-style:url("../img/dibujos/florLILA.png");
}}

.terapias-dos { display: flex;
    gap: 10rem;
    text-align: justify;
     line-height: 2rem;
     @include movil {
        background-image: radial-gradient(circle, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), 
                          url("../img/fot/imagenterapias.png");
        background-position: center;
    }; 

     img{ width: 40%;
        height: 30%;
    @include movil { display: none;}}

        p { margin-top: 8%;
    @include movil  {color: #FFFFFF;
        text-align: center;}}

   }