@import '../utilities/variables';
@import '../utilities/mixin';
@import '../components/card';

/* estilo de index*/

/* contenido ppal */

.acerca-de {


    @include flex ( flex , row , nowrap, 0, 10%);
    color: $color-gris;
@include texto2 ( justify, 400 ,0 );
.text-box {padding: 2%;
    line-height: 2rem;
    width: 55%;
    h3 {font-size: 3rem;
        text-align: center;
        padding: 1%;
   
    p{ font-size: 1.5rem;
       }
  }
  @include movil { display: none;}}}


.text-box {padding: 2%;
line-height: 2rem;
width: 55%;
h3 {font-size: 3rem;
    text-align: center;
    padding: 1%;}
p{ font-size: 1.5rem;}
}

/* pq elegirnos*/



.card-area{
    display: grid;
    grid-template-columns: repeat(3 ,1fr) ;
    gap: 1%;
    margin-bottom: 3%;
    @include movil { grid-template-columns: 1fr};
}
