@import '../utilities/variables';
@import '../utilities/mixin';


/* estilo de footer*/
footer{ margin-top: 3%;
    @include flex ( flex, row, wrap, space-between,0);
    @include box-style ($color-marca1 );
    @include texto;
    }
    


.footer-address { padding-top: 2%;
    @include tablet { display: none;}
}
.footer-social {
    padding: 2%;
    h5 {font-size: 80%;
        margin-top: 8%;
    }
    img {width: 15%; 
        margin: 5%;
    @include tablet { img {width: 20%; 
        margin: 5%;}}
    }
}